	<br/>
	<h1> ABOUT US </h1>
	<div class="about-us row">
	
	<div class="left five columns">
	
		<%= image_tag("aboutus.jpg")%>
	</div>
	
	<div class="right seven columns">
<p>Yaisa Tangwell Photography is a husband and wife team (Marcus & Yaisa) based in Trinidad, W.I. in the Caribbean <p/>
	<p>Once a family of an accountant and IT consultant, our lives changed with the birth of our son, our passion for life took over.</p>
<p>Upon inception, we both agreed that "Yaisa Tangwell Photography" was quite a fitting name as many have agreed is by far one of the most intriging names.</p>
<p>We have been shooting together professionally for <%= Time.now.year- 2008 %> years and have shot over 200 weddings to date and continue to push our creativity to new heights.</p>
<p>We have proudly earned many international awards for our photography and have been accepted into the WPJA, AGWPJA and BestofWeddingPhotography. All of which require the highest of international standards in photography for acceptance.

</div>
</div>