<header id="masthead" class="nopin site-header" role="banner">
    <%= link_to image_tag("logos/YTP-header.png"), root_path %>
	<div class=row><div class="line push_one ten columns"></div></div>

    
</header><!-- #masthead -->
