<header id="masthead" class="small-site-header nopin" role="banner">
    <%= link_to image_tag("logos/YTP-header-small.png"), root_path %>
</header><!-- #masthead -->
<div class=row><div class="line push_one ten columns"></div></div>
